
<a href="/" class="inline-block sm:hidden h-16 w-16 row-span-2 justify-self-center self-center">
<img src="{{site.baseUrl}}/assets/img/jc_logo_256x256_16px-border.svg" alt="JC Logo"/>
</a>
<div class="logo hidden sm:block">
  <img class="h-full" src="{{site.baseUrl}}/assets/img/jc_logo_256x256_16px-border.svg" alt="JC Logo"/>
  <div class="jeff">
    <div class="opacity-0 absolute">J</div>
    effrey
  </div>
  <div class="chiou">
    <div class="opacity-0 absolute">C</div>
    hiou
  </div>
</div>
