---
title: 404 Not Found
permalink: 404.html
layout: layout.njk
---
<p>Something's missing... Return to the <a href="{{ "/" | url }}">home page?</a></p>
<div id="auxiliary-content">
Find my contact information at the <a href="/about">About page</a>
</div>
